PORT=10000
DATABASE_URL=postgresql://user:password@host:port/database
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
MONGODB_URI=mongodb://user:password@ac-fcvmszr-shard-00-00.xxx.mongodb.net:27017,ac-fcvmszr-shard-00-01.xxx.mongodb.net:27017,ac-fcvmszr-shard-00-02.xxx.mongodb.net:27017/nadagurukulam?tls=true&authSource=admin&replicaSet=ac-fcvmszr-shard-0
FRONTEND_URL=http://localhost:3000
